div.main{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(225, 198, 198, 0.478);
    padding: 5%;
}

p{
    font-size: large;
}

img{
    max-width: 100%;
}

